{{define "body"}}
<!doctype html>
<html lang="en">
        <head>
            <meta name="viewpoint" contenet="width=device-width">
            <meta http-equiv="Content-Type" content="text/html; Chatser=UTF-8"/>
            <title></title>
        </head>
        <body>
            <p>{{.message}}</p>
        </body>
</html>

{{end}}